.hidden {
    display: none;
}

body {
    background-image: url('../images/image_background.jpg');
}

/* Header Stuff */
header {
    width: 100%;
    padding: 2em;
    text-align: center;
}

header h1 {
    font-family: 'Square Peg', cursive;
    font-size: 10em;
    margin: 10px 0px;
}

header p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    margin: 1em 0px;
}

.hero_image {
    height: 300px;
    width: 300px;
}

.buttonGroup {
    display: flex;
    flex: 0 0 350px;
    flex-wrap: wrap;
    row-gap: 5em;
    justify-content: center;
}

.circleButton {
    max-width: 200px;
    margin: 0em 1em;
}

@media screen and (max-width: 600px) {

    .buttonGroup {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        }
        
    .circleButton {
            width: 50%;
        }
}

#planetSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5em;

}

/* #planetSection {
    display: grid;
    align-items: center;
    margin: 5em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    /* max-width: 1200px; */

.planetContainer {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid black .1em;
    border-radius: 1em;
    /* background-color: rgba(255, 255, 255, 0.6); */
    background-image: url("../images/moon.png");
    margin: 0em 5em;
}

.planetContainer img {
    max-width: 200px;
}

.p1 {
    background-image: url("../images/bleblorp.png");
    max-width: 200px;
}

.p2 {
    background-image: url("../images/bleblorp.png");
    max-width: 200px;
}

.p3 {
    background-image: url("../images/bleblorp.png");
    max-width: 200px;
}

.p4 {
    background-image: url("../images/bleblorp.png");
    max-width: 200px;
}

.p5 {
    background-image: url("../images/bleblorp.png");
    max-width: 200px;
}

.p6 {
    background-image: url("../images/bleblorp.png");
    max-width: 200px;
}

.p7 {
    background-image: url("../images/bleblorp.png");
    max-width: 200px;
}

button {
    font-size: 5em;
}